<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDahqZwCTsagcKg4_Ovfy-NMBVr5XYe6r0</string>
	<key>GCM_SENDER_ID</key>
	<string>140818285182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sapse.sems</string>
	<key>PROJECT_ID</key>
	<string>dfg-sapse</string>
	<key>STORAGE_BUCKET</key>
	<string>dfg-sapse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140818285182:ios:b848bea6fec664fc7d4e2f</string>
</dict>
</plist>